h3 {
    display: flex;
    justify-content: center;
    font-family: "Montserrat";
    font-size: 2.5rem;
    margin-bottom: 0;
    font-weight: 400;
    padding: 0;
    margin-top: 1rem;
}

.best-products {
    display: grid;
    justify-content: center;
    justify-items: center;
    grid-template-columns: 1fr;
    gap: 3rem;
    padding: 3rem;
}

.card--product {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 100%;
}

.card__content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.card__description {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.card__title,
.card__price {
    font-family: "Montserrat";
    font-size: 1.6rem;
    font-weight: 500;
}

.card__price {
    margin-left: 2rem;
}

.card__short-desc {
    font-family: "Montserrat";
    font-size: 1.2rem;
}

.card__img {
    max-width: 100%;
    width: 100%;
}

@media screen and (min-width: 640px) {
    .best-products {
        grid-template-columns: 1fr 1fr;
    }
}

@media screen and (min-width: 1024px) {
    .best-products {
        grid-template-columns: 1fr 1fr 1fr;
    }
}