button {
  background-color: transparent;
  border: 0;
}

.art--btn {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  background-color: transparent;
  border: 2px solid var(--color-three);
  color: var(--color-three);
  max-width: 30rem;
  width: 10rem;
  height: 4rem;
  border-radius: 0.2rem;
  box-shadow: 5px 5px var(--color-three-var);
  margin-top: 4rem;
  font-family: "Montserrat", serif;
}

.banner__content .art--btn {
  margin: 5px 20px;
}

.btn--close {
  color: white;
  font-weight: 800;
  font-size: 1.2rem;
}

.art--btn:hover {
  color: var(--color-one);
  background-color: var(--color-three);
  box-shadow: 5px 5px var(--color-five);
  transform: scale(1.05);
}

.banner__content {
  margin: 5px 20px;
}

.material-symbols-outlined.list,
.material-symbols-outlined.grid {
  color: var(--color-three);
  cursor: pointer;
  transition: transform 0.2s;
  font-variation-settings: "FILL" 0, "wght" 600, "GRAD" 0, "opsz" 24;
}

.material-symbols-outlined.list:hover,
.material-symbols-outlined.grid:hover {
  color: var(--color-three-var);
  transform: scale(1.2);
}
